# Port
PORT= Paste your port

# Jwt secret key
SECRET= Paste your secret key

# Nodemailer
EMAIL_USER = Paste your email for nodemailer
EMAIL_PASS = email password for applications

# Domain
DOMAIN = Your domain